<section data-ng-controller="IdeasController" data-ng-init="find()">
	<div class="page-header">
		<h1>Ideas</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="idea in ideas" data-ng-href="#!/ideas/{{idea._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="idea.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="idea.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="idea.title"></h4>
			<p class="list-group-item-text" data-ng-bind="idea.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="ideas.$resolved && !ideas.length">
		No ideas submitted yet, why don't you <a href="/#!/ideas/create">submit one</a>?
	</div>
</section>